.contenu h2{
	display:block;
	text-align:left;
	border-bottom:1px solid #c0c0c0;
	font-family:'open_sanslight';
	font-size:2.8vh;
	font-weight:normal;
	padding:0 0 3px 0;
	margin:5vh 0 5vh 0;
}
.contenu{
	text-align:center;
}